html{
    font-size: 62.5%;
}

body {
    font-size: 16px;/*1rem = 10px*/
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-bg, .right-bg {
    height: 100vh;
    width: 100%;
}

/******LEFT SIDE*****/
.left-bg {
    background-image: linear-gradient(to top right, var(--primario), var(--primario-suave));
}

.partial-container-left {
    margin: 5rem 10rem;
    color: var(--blanco);
}

h1, h2 {
    font-weight: 600;
    font-size: 4rem;
}

h1 {
    margin-bottom: 30rem;
}

h2 {
    max-width: 40rem;
    margin-bottom: 1rem;
}

p {
    max-width: 35rem;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 10rem;
}

.sign p {
    margin-bottom: 2.5rem;
}

.sign input {
    max-width: 26rem;
    width: 40rem;
    padding: 2rem 2.75rem;
    border: none;
    border-radius: 0.5rem;
}

.sign input:placeholder {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 300;
}

.sign button {
    color: var(--blanco);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 2rem;
    padding: 2rem 2.75rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--gris-oscuro-transparente);
}

/******RIGHT SIDE*****/
.right-bg {
    background-image: linear-gradient(to top, var(--secundario), var(--secundario-suave));
}

.container-nav {
    margin: 5rem 2rem;
    padding: 1rem;
}

.container-nav a {
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;
}

.container-nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 3rem;
    position: relative;
}

.container-nav ul li:hover {
    cursor: pointer;
}

.container-nav li a:hover {
    color: var(--gris-claro);
}

.container-nav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: none;
}

.container-nav ul li:hover > ul,
    ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 25rem;
    text-align: left;
    padding-top: 2rem;
    box-shadow: 0px 3px 5px -1px var(--secundario);
}

.container-nav ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem;
    border-style: none;
}